.fake-skeleton-40 {
    width: 40%;
}

.fake-skeleton-60 {
    width: 60%;
}

#journal_content {
    cursor: pointer;
}

.journal {
    margin-top: 20px;
}

ion-thumbnail {
    width: 100%;
    height: 18rem;
}