<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <!-- សៀវភៅកំណត់ហេតុ -->
      Personal Journal
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  
  <ion-list>
  
    <ng-container *ngIf="!journals || journals.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
  
    <ion-item-sliding *ngFor="let journal of journals">
      <ion-item lines="inset" button [routerLink]="['/tabs/tab1/journals/detail', journal.id]">
        <ion-label>
          {{ journal.title }}
          <p>{{ journal.content }}</p>
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="remove(journal)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab1/journals/detail" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>