<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Komnot Het</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div text-center padding>
          <img src="../../assets/book_lover.svg" class="book-lover">
        </div>
        <ion-card>
          <ion-card-header>
              <ion-card-subtitle color="medium">Rush to get your thoughts into words? But first, let</ion-card-subtitle>
              <ion-card-title color="primary">Register</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
                <ion-item>
                  <ion-icon name="mail" color="primary" slot="start"></ion-icon>
                  <ion-input type="text" formControlName="email" class="form-control" placeholder="Email" required></ion-input>
                </ion-item>
                <div class="validation-errors ion-padding">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              
                <ion-item>
                  <ion-icon slot="start" name="unlock" color="primary"></ion-icon>
                  <ion-input type="password" formControlName="password" class="form-control" placeholder="Password" required></ion-input>
                </ion-item>
                <div class="validation-errors ion-padding">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              
                <div class="ion-padding">
                  <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid" expand="block">Register</ion-button>
                </div>
                <label class="error-message ion-padding">{{errorMessage}}</label>
                <label class="success-message ion-padding">{{successMessage}}</label>
                
              </form>
              <div text-center>
                <p class="go-to-login">Already have an account? <a (click)="goLoginPage()" class="create-account-text">Try to Log In.</a></p>
              </div>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>